<p><b>{{ localize 'reward-experience.dialog.total-xp' }}</b> {{ totalExperience }}</p>
<p><b>{{ localize 'reward-experience.dialog.total-per-character' }}</b> {{ characterExperience }}</p>
<br />
<label>{{ localize 'reward-experience.dialog.player-list-header' }}</label>
<ul class="player-list">
    {{#each players}}
    <li>
        <img src="{{ this.actor.img }}" />
        <span>{{ this.actor.name }}</span>
    </li>
    {{/each}}
</ul>
<br />
<p>{{ localize 'reward-experience.dialog.text' }}</p>